.header {
	display: flex;
	width: 100%;
	flex-direction: column;

	h1 {
		display: block;
		font-size: calc(2rem + 3vw);
		text-shadow: 2px 3px 0px $color-1;
		text-align: center;
		letter-spacing: 2px;
	}
	nav {
		display: flex;
		justify-content: center;
		font-size: calc(1rem + 3vw);

		ul {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-around;

			a {
				text-decoration: none;
				color: $white;
				border-radius: 10px;
				padding: 5px 10px;
				text-align: center;

				&:visited {
					text-decoration: none;
					color: $white;
				}
				&:hover {
					background: $black;
				}
			}
			a.nav-active {
				background: $color-1;

				&:hover {
					background: $black;
				}
			}
		}
	}
}
